<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/icon/travel-map.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles/member.css">
    <title>member</title>
</head>
<body>
    <div class="wrap">
        <div class="overlay" id="overlay"></div>
        <div class="signin" id="signinBox">
            <div class="signin_bar"></div>
            <div class="signin_header">
                <div class="signin_account">登入會員帳號</div>
                <button class="signin_img" id="signin_close"><img
                        src="{{ url_for('static', filename='img/icon/close.png') }}" alt="close"></button>
            </div>
            <input class="signin_email" name="signin_email" placeholder="輸入電子信箱" id="signInEmail">
            <input class="signin_password" name="signin_password" placeholder="輸入密碼" id="signinPassword"
                type="password">
            <button class="signin_botton" id="signInBtn">登入帳戶</button>
            <div class="signin_message" id="signInMessage"></div>
            <div class="signin_to_signup">還沒有帳戶？<span id="signInToSignUP">點此註冊</span></div>
        </div>
        <div class="signup" id="signUpBox">
            <div class="signup_bar"></div>
            <div class="signup_header">
                <div class="signup_account">註冊會員帳號</div>
                <button class="signup_img" id="signup_close"><img
                        src="{{ url_for('static', filename='img/icon/close.png') }}" alt="close"></button>
            </div>
            <input class="signup_name" name="signup_name" placeholder="輸入姓名" id="signUpName">
            <input class="signup_email" name="signup_email" placeholder="輸入電子郵件" id="signUpEmail">
            <input class="signup_password" name="signup_password" placeholder="輸入密碼" id="signUpPassword"
                type="password">
            <button class="signup_botton" id="signUpBtn">註冊新帳戶</button>
            <div class="signup_message" id="signUpMessage"></div>
            <div class="signup_to_signin">已經有帳戶？<span id="signUpToSignin">點此登入</span></div>
        </div>
        <div class="navigation">
            <div class="navigation_logo"><a href="/">
                    <h2>台北一日遊</h2>
                </a>
            </div>
            <div class="navigation_menu" id="navigation_menu">
                <button class="navigation_menu_item" id="booking_btn">預定行程</button>
                <button class="navigation_menu_item" id="menu_signin_btn">登入/註冊</button>
            </div>
        </div>
        <div class="separator_logo"></div>
        <div class="contant" id="contant">
            <!-- <div class="contact_record" id="contact_record">
                <div class="contact_record_number m-16">202310134567</div>
                <button class="contact_recordd_btn">訂單紀錄</button>
            </div> -->
        </div>    
        <div class="footer" id="judge_footer">
            <span class="footer_p">
            <p>COPYRIGHT © 2021 台北一日遊</p>
        </span>
        <script type="text/javascript" src="/static/js/signin.js"></script>
        <script type="text/javascript" src="/static/js/member.js"></script>
        
</body>
</html>