/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: 'Noto Sans TC', sans-serif;
}
img{
    display: block;
    max-width: 100%;
}

/* loading */
@keyframes ldio-qil3bdsdgd {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-qil3bdsdgd div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-qil3bdsdgd linear 1s infinite;
  background: #448899;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
  
}.ldio-qil3bdsdgd div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #448899;
}.ldio-qil3bdsdgd div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #448899;
}
.loadingio-spinner-spinner-o5dixidgmqa {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffff;
  position: relative;
  transform: translate(-50%, -50%);
  top:50%;
  left: 50%;

}
.ldio-qil3bdsdgd {
  width: 100%;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
  transform-origin: 0 0;  
  transform: translate(-50%, -50%);
  top:50%;
  left: 50%;
}
.ldio-qil3bdsdgd div { box-sizing: content-box; }
#loadingScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    display: flex;
}

/* observer_loading */
@keyframes observer_ldio-qil3bdsdgd {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  /* .observer_ldio-qil3bdsdgd div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-qil3bdsdgd linear 1s infinite;
    background: #448899;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
    } */
    .observer_ldio-qil3bdsdgd div {
        left: 47px;
        top: 24px;
        position: absolute;
        animation: ldio-qil3bdsdgd linear 1s infinite;
        background: #448899;
        width: 6px;
        height: 12px;
        border-radius: 3px / 6px;
        transform-origin: 3px 26px;
        }
    .observer_ldio-qil3bdsdgd div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #448899;
  }.observer_ldio-qil3bdsdgd div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #448899;
  }
  .observer_loadingio-spinner-spinner-o5dixidgmqa {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #ffff;
    position: relative;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
  
  }
  .observer_ldio-qil3bdsdgd {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    transform-origin: 0 0;  
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
  }
  .observer_ldio-qil3bdsdgd div { box-sizing: content-box; }
  #observer_loadingScreen {
      width: 1200px;
      height: 100px;
      background: white;
      z-index: 9999;
      display: flex;
  }
  
.wrap{
    margin: 0 auto;
} 

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background: var(--Black, #000); 
    z-index: 999; /* 疊放順序，要比彈跳視窗的z-index高 */
}
.signin{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    max-width: 340px;
    border-radius: 6px;
    box-shadow: 0px 4px 60px 0px #AAA;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;/*固定定位*/
    display: none;
    z-index: 1000;/*較高的疊放層次*/
}
.signin_bar{
    background: var(--additional-color-dark-cyan-gradient-0-deg, linear-gradient(270deg, #378 0%, #6AB 100%));
    border-radius: 6px 6px 0 0;
    height: 10px;
}
.signin_header{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 10px 0 10px;   
}

.signin_account{
    width: 190px;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    color: #666666;
    padding-bottom: 15px;
    padding: 15px 15px 15px 15px;
    align-items: center;
}
.signin_img{
    border: 0;
    outline: 0;
    background:#FFFFFF;
    cursor: pointer;
}
.signin_email{
    width: 280px;
    padding: 15px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
}
.signin_email::placeholder {
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    outline: none;
    border: 0;
}

.signin_password{
    width: 280px;
    padding: 15px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
}
.signin_password::placeholder {
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    left: 0;
}
.signin_botton{
    width: 310px;
    line-height: 27px;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    color:#FFFFFF;
    background: #448899;
    border: 1px solid var(--primary-color-cyan-70, #489);
    border: none;
    cursor: pointer;
}
.signin_message{
    color: red;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 15px 10px 15px;
}

.signin_to_signup{
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 15px 10px 15px;
}
#signInToSignUP{
    cursor: pointer;
}
#signInToSignUP:hover{
    font-weight: 700;
}
#signUpToSignin{
    cursor: pointer;
}
#signUpToSignin:hover{
    font-weight: 700;
}

.signup{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    max-width: 340px;
    border-radius: 6px;
    box-shadow: 0px 4px 60px 0px #AAA;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;/*固定定位*/
    display: none;
    z-index: 1000;/*較高的疊放層次*/
}
.signup_bar{
    background: var(--additional-color-dark-cyan-gradient-0-deg, linear-gradient(270deg, #378 0%, #6AB 100%));
    border-radius: 6px 6px 0 0;
    height: 10px;
}
.signup_header{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 10px 0 10px;   
}

.signup_account{
    width: 190px;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    color: #666666;
    padding-bottom: 15px;
    padding: 15px 15px 15px 15px;
    align-items: center;

}
.signup_img{
    border: 0;
    outline: 0;
    background:#FFFFFF;
    cursor: pointer;
}
.signup_name{
    width: 280px;
    padding: 15px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
}
.signup_name::placeholder {
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    outline: none;
    border: 0;
}
.signup_email{
    width: 280px;
    padding: 15px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
}
.signup_email::placeholder {
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    outline: none;
    border: 0;
}

.signup_password{
    width: 280px;
    padding: 15px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
}
.signup_password::placeholder {
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    left: 0;
}
.signup_botton{
    width: 310px;
    line-height: 27px;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    color:#FFFFFF;
    background: #448899;
    border: 1px solid var(--primary-color-cyan-70, #489);
    border: none;
    cursor: pointer;
}
.signup_message{
    color: red;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 15px 10px 15px;
}
.signup_to_signin{
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 15px 10px 15px;
}
.navigation{
    margin: 0 auto;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}
.navigation_logo{
    font-size: 30px;
    color: #448899;
    font-weight: bold;
    line-height: 34px;
}
.navigation_logo a{
    text-decoration: none;
    color: #448899;
}
.navigation_menu{
    display:flex;
    justify-content: space-between;
}
.navigation_menu_item{
    padding: 10px;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px; 
    background: #FFFFFF;
    border:0;
    outline: 0;
    cursor: pointer;
    font-family: Noto Sans TC;
}
.navigation_menu_item:hover{
    font-weight: 700;
    cursor: pointer;
    color: #448899;

}

.hero{
    position: relative;
}

.hero_img{
    margin: 0 auto;
    height: 320px; /* 設定高度為320像素 */
    width: 100%;
    object-fit: cover;
    object-position: center top; /* 使圖片的底部對齊容器 */
    overflow: hidden;
}
.hero_box{
    transform: translate(-50%, -50%);/*将标语向左和向上移动一半，以确保它在容器的正中间*/
    top:50%;
    left: 50%;
    position: absolute;
    width: 1200px;
    height: 320px;
}
.hero_slogan{
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);/*将标语向左和向上移动一半，以确保它在容器的正中间*/
}
.hero_slogan h1{
    color: #F8F8F8;
    font-size: 28px;
    font-weight: bold;
    line-height: 24px;
}
.hero_slogan p{
    color: #F8F8F8;
    font-weight: bold;
    padding-top: 15px;
    font-size: 16px;
    line-height: 13.3px;
}
.hero_slogan_input{
    padding-top: 25px;
    position: relative;
}
.hero_slogan_input_con{
    width: 445px;
    height: 44px;
    border-radius: 0.5em; 
    border: none;
    outline: none;/*點擊後的標示框*/
    box-shadow: 0 0 20px 0 #abc;/*水平/垂直/糢糊半徑/擴散半徑*/
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    line-height: 13.3px;
    bottom: 0;
    padding-left: 16px;
}
.hero_slogan_input input::placeholder {
    color: #757575;
    font-weight: bold;
    font-size: 16px;
    line-height: 13.3px;

}
.hero_slogan_input button{
    background: #448899;
    position: absolute;
    right: 0;
    border: none;
    width: 47px;
    height: 47px;
    border-radius: 0 0.5em 0.5em 0; /* 左上 右上 右下 左下 */
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.content{
    margin: 0 auto;
    width: 1200px;
    padding-top: 40px;
}
.content_listbar{
    display: flex;
    padding-bottom: 20px;
}

.content_listbar_left{
    outline: none;
    border:0; /* 去除邊框*/
    background-color: #FFFFFF;
    padding: 9px 0 9px 15px;
    cursor: pointer;
}
.content_listbar_left img:hover{
    content: url("/static/img/icon/arrow_left_hovered.png");
}
.content_listbar_right{
    outline: none;
    border:0; /* 去除邊框*/
    background-color: #FFFFFF;
    padding: 9px 15px 9px 0px;
    cursor: pointer;
}
.content_listbar_right img:hover{
   content: url("/static/img/icon/arrow_right_hovered.png");
}
.content_listbar_box{
    overflow: hidden;
}
.content_listbar_mrt{
    display: flex;
    align-items: flex-start;
    transition: transform 0.5s ease-in-out; /* 添加平滑過渡效果 */
    padding: 13px 10px 13px 10px;
    width: 1086px;
}
.content_listbar_mrt_name{
    font-size: 16px;
    font-weight: medium;
    line-height: 13.3px;
    padding: 5px 15px 5px 15px;
    display: inline-block;
    white-space: nowrap; /* 禁止文字斷行 */
    color: #666666;
}
.content_listbar_mrt_name:hover{
    font-weight: bold;
    cursor: pointer;
    color: #448899;
}
.content_list{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
.content_list_att{
    width: 268px;
    margin: 15px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--secondary-color-gray-20, #E8E8E8);
    background: var(--White, #FFF);
    cursor: pointer;
}
.content_list_att:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.content_list_att_img img{
    width: 268px;
    height: 197px;
    object-fit: cover; /* 自動裁切圖片，保持圖片比例 */
}

.content_list_att_img{
    position: relative;
}
.content_list_att_name{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    width: 250px;
    padding: 10px;
    line-height: 20px;
}
.content_list_att_con{
    display: flex;
    justify-content: space-between;
    line-height: 13.3px;
    align-items: center;
    padding: 10px;
}
.content_list_att_con_mrt{
    font-size: 16px;
    font-weight: bold;
    line-height: 13.3px;
    color: #757575;
    line-height: 25px;
}
.content_list_att_con_catrgory{
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    color: #757575;

}
.footer{
    background-color: #757575;
    padding: 40px 0 40px 0;
    margin: 0 auto;
}
.footer_p{
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
}
@media (max-width: 1200px) {
    #observer_loadingScreen{
        max-width: 100%;
    }
    .navigation{
        width: 100%;
    }
    .hero{
        width: 100%;
    }
    .hero_box{
        width: 100%;
    }
    .hero_slogan_input_con{
        width: 95%;
    }
    .content{
        width: 100%;
    }
    .hero_slogan{
       width: 60%; 
       left: 3%;
    }
    
    .hero_img{
        margin: 0 auto;
        height: 320px; /* 設定高度為320像素 */
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    .content_list{
        flex-wrap: wrap;
    }
    .content{
        margin: 0 auto;
    }
    .content_listbar_box{
        width: 100%;
        margin: 0auto;
    }
    .content_listbar_mrt{
        width: 100%;
        margin: 0 auto;
    }

    .content_list_att{
        width: 45%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .content_list_att_img img{
        width: 100%;
    }
    .content_list_att_name{
        width: 100%;
    }
    .navigation_menu_item{
        padding: 5px;
    }  

}

@media (max-width:600px) {
    #observer_loadingScreen{
        max-width: 100%;
    }
    .navigation{
        width: 96.8%;
        padding-left: 10px;
    }
    .hero{
        width: 100%;
    }
    .hero_box{
        width: 100%;
    }
    .hero_img{
        margin: 0 auto;
        height: 320px; /* 設定高度為320像素 */
        width: 100%;
        object-fit: cover;
        object-position: center left; /* 使圖片的底部對齊容器 */
        overflow: hidden;
    }
    .hero_slogan{
        width: 90%;
       left: 3%;
    }
    .hero_slogan_input_con{
        width: 90%;
    }
    .content{
        width: 100%;
    }
    .content_listbar img{
        width: 100%;
      
    }

    .content_listbar_box{
        width: 86%;
    }

    .content_list{
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
    .content_list_att{
        flex-wrap: wrap;
        margin: 0 0 15px 0;
    }
    .content_list_att{
        width: 97%;
    }
    .content_list_att_name{
        width: 100%;
    }
    
    .content_list_att_con_mrt{
        line-height: 25px;
    }

    .content_list_att_img img{
        width: 100%;
    }
    .navigation_menu_item{
        padding: 5px;
    }  

}