/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: 'Noto Sans TC', sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
.wrap{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
} 
.m-16{
    color: var(--secondary-color-gray-70, #000);
    font-size: 16px;
    font-weight: 500;
    line-height: 14px; 
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background: var(--Black, #000); 
    z-index: 999; /* 疊放順序，要比彈跳視窗的z-index高 */
}
.signin{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    max-width: 340px;
    border-radius: 6px;
    box-shadow: 0px 4px 60px 0px #AAA;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;/*固定定位*/
    display: none;
    z-index: 1000;/*較高的疊放層次*/
}
.signin_bar{
    background: var(--additional-color-dark-cyan-gradient-0-deg, linear-gradient(270deg, #378 0%, #6AB 100%));
    border-radius: 6px 6px 0 0;
    height: 10px;
}
.signin_header{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 10px 0 10px;   
}

.signin_account{
    width: 190px;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    color: #666666;
    padding-bottom: 15px;
    padding: 15px 15px 15px 15px;
    align-items: center;
}
.signin_img{
    border: 0;
    outline: 0;
    background:#FFFFFF;
    cursor: pointer;
}
.signin_email{
    width: 280px;
    padding: 15px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
}
.signin_email::placeholder {
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    outline: none;
    border: 0;
}

.signin_password{
    width: 280px;
    padding: 15px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
}
.signin_password::placeholder {
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    left: 0;
}
.signin_botton{
    width: 310px;
    line-height: 27px;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    color:#FFFFFF;
    background: #448899;
    border: 1px solid var(--primary-color-cyan-70, #489);
    border: none;
    cursor: pointer;
}
.signin_message{
    color: red;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 15px 10px 15px;
}

.signin_to_signup{
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 15px 10px 15px;
}
#signInToSignUP{
    cursor: pointer;
}
#signInToSignUP:hover{
    font-weight: 700;
}
#signUpToSignin{
    cursor: pointer;
}
#signUpToSignin:hover{
    font-weight: 700;
}

.signup{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    max-width: 340px;
    border-radius: 6px;
    box-shadow: 0px 4px 60px 0px #AAA;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;/*固定定位*/
    display: none;
    z-index: 1000;/*較高的疊放層次*/
}
.signup_bar{
    background: var(--additional-color-dark-cyan-gradient-0-deg, linear-gradient(270deg, #378 0%, #6AB 100%));
    border-radius: 6px 6px 0 0;
    height: 10px;
}
.signup_header{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 10px 0 10px;   
}
.signup_account{
    width: 190px;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    color: #666666;
    padding-bottom: 15px;
    padding: 15px 15px 15px 15px;
    align-items: center;

}
.signup_img{
    border: 0;
    outline: 0;
    background:#FFFFFF;
    cursor: pointer;
}
.signup_name{
    width: 280px;
    padding: 15px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
}
.signup_name::placeholder {
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    outline: none;
    border: 0;
}
.signup_email{
    width: 280px;
    padding: 15px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
}
.signup_email::placeholder {
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    outline: none;
    border: 0;
}
.signup_password{
    width: 280px;
    padding: 15px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
}
.signup_password::placeholder {
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    left: 0;
}
.signup_botton{
    width: 310px;
    line-height: 27px;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    margin: 0 15px 10px 15px;
    border-radius: 5px;
    color:#FFFFFF;
    background: #448899;
    border: 1px solid var(--primary-color-cyan-70, #489);
    border: none;
    cursor: pointer;
}
.signup_message{
    color: red;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 15px 10px 15px;
}
.signup_to_signin{
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 15px 10px 15px;
}
.navigation{
    margin: 0 auto;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}
.navigation_logo{
    font-size: 30px;
    color: #448899;
    font-weight: bold;
    line-height: 34px;
}
.navigation_logo a{
    text-decoration: none;
    color: #448899;
}
.navigation_menu{
    display:flex;
    justify-content: space-between;
}
.navigation_menu_item{
    padding: 10px;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px; 
    background: #FFFFFF;
    border:0;
    outline: 0;
    cursor: pointer;
    font-family: Noto Sans TC;
}
.navigation_menu_item:hover{
    font-weight: 700;
    cursor: pointer;
    color: #448899;
}
.separator_logo{
    border-top: 1px solid #E8E8E8;
}

.contant{
    padding: 40px 0 40px 0;
    
    text-align: center;
}
.contact_record{
    width: 800px;
    border-radius: 5px;
    border: 1px solid #757575;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.contact_recordd_btn{
    border: 0;
    border-radius: 5px;
    background: var(--primary-color-cyan-70, #489);
    color: #ffff;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
}

.footer{
    background-color: #757575;
    padding: 40px 0 40px 0;
    flex-grow: 1; /* 內容佔滿剩餘高度 */
}
.footer_p{
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
}


@media (max-width: 1200px){
    .wrap,.navigation,.separator_logo.contact{
        max-width: 90%;
    }
    .contact_record{
        max-width: 90%;
    }
    .footer{
        max-width: 100%;
    }
    .navigation_menu_item{
        padding: 5px;
    } 

}
@media (max-width: 600px){
    .wrap,.navigation,.separator_logo.contact{
        max-width: 100%;
    }
    .contact_record{
        max-width: 90%;
    }
    .footer{
        max-width: 100%;
    }
    .navigation_menu_item{
        padding: 5px;
    }   


}